:root {
  --pink: #ffbade;
}
/*Reset settings*/
* {
  margin: 0;
  padding: 0;
  font-family: Poppins, arial;
}
body {
  height: auto;
  background-color: #1f1f31;
}

#main-content {
  z-index: 99;
  display: flex;
  flex-direction: column;
  position: relative;
  row-gap: 30px;
  top: 0px;
  left: 0;
  right: 0;
  transition: margin 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out;
}
.anime-previews {
  display: flex;
  position: relative;
  width: 100%;
  height: 600px;
}
.anime-images {
  height: 100%;
  position: absolute;
  object-fit: contain;
  top: 0;
  right: 0;
}
/*INSET SHADOWS HAVE BEEN ADDED*/

.anime-images::after {
  width: 100%;
  content: "";
  position: absolute;
  inset: 0;
  box-shadow: inset -10px -10px 150px 150px rgba(31, 31, 49, 1);
}
.slideshow {
  height: 600px;
  object-fit: cover;
}
/*sliders*/
/*owl nav button design setup*/
.owl-next,
.owl-prev {
  font-size: 35px;
  color: white;
  font-weight: 500;
}
.owl-next:hover,
.owl-prev:hover {
  color: black;
}
.sliders {
  z-index: 98;
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  bottom: 50px;
  right: 20px;
}
.sliders button {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  padding: 0px 20px;
  border-radius: 6px;
  transform: scale(0.8);
}
.sliders button:hover {
  background-color: var(--pink);
}
.fa-less-than,
.fa-greater-than {
  font-size: 25px;
}
.sl {
  color: white;
  transition: color 0.05s ease-in-out;
}
.sliders button:hover .sl {
  color: black;
}
/*next row*/
/*anime info*/
.anime-info {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 16px;
  bottom: 40px;
  row-gap: 10px;
  width: 800px;
}
.spotlight {
  font-size: 18px;
  color: var(--pink);
  font-weight: 500;
}
.title {
  font-size: 48px;
  font-weight: 600;
  color: white;
  line-height: 64px;
  margin-bottom: 20px;
}
.ep-buttons,
.ep-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-right: 15px;
}
.ep-text {
  color: white;
}
.ep-icon {
  all: unset;
  margin-right: 5px;
}
.abt-button {
  display: flex;
  flex-direction: row;
}
.abt-button .hd {
  margin-right: 10px;
}
.abt {
  display: flex;
  flex-direction: row;
  margin-right: 1px;
  align-items: center;
  justify-content: space-between;
  gap: 3px;
  height: 18px;
  padding: 0 4px;
  font-size: 12px;
  font-weight: 500;
}
.hd {
  border-radius: 6px;
  border: none;
  background-color: var(--pink);
}
.cc {
  border-radius: 6px 0 0 6px;
  border: none;
  background-color: #b0e3af;
}
.mic {
  border: none;
  background-color: #b9e7ff;
}
.age {
  border-radius: 0 6px 6px 0;
  border: none;
  background-color: #eeeeee33;
  color: white;
}
.anime-description {
  color: white;
  margin: 20px 0;
}
.watchnow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0 8px;
  font-size: 16px;
  padding: 8px 15px;
  background-color: var(--pink);
  border-radius: 30px;
  border: none;
  cursor: pointer;
}
.decision {
  display: flex;
  gap: 0 15px;
}
.details {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0 8px;
  font-size: 16px;
  padding: 8px 15px;
  background-color: #3a3951;
  color: white;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}
.details:hover {
  background-color: #3e3c57;
}

/*MARGIN OF THE BODY*/

@media (min-width: 1900px) {
  #main-content {
    margin: 0 48.5px;
  }
}

@media (min-width: 1900px) {
  .sliders {
    right: 0;
  }
}

/*TRENDING ANIME SECTION*/
.trending {
  padding: 0 16px;
  padding-bottom: 48px;
}
.trending-text {
  font-size: 22px;
  color: var(--pink);
  font-weight: 600;
  margin-bottom: 24px;
}
.trending-slider {
  display: grid;
  grid-template-columns: auto 40px;
}
.trending-anime-container {
  flex-direction: row;
  height: 232px;
  cursor: pointer;
  overflow: hidden;
}
.trending-animes {
  display: flex;
  align-items: flex-end;
  margin-right: 20px;
}
.anime-ranking {
  display: grid;
  grid-template-rows: 1fr 40px;
  justify-content: center;
  align-items: flex-end;
  width: 40px;
  height: 100%;
  margin-bottom: -5px;
}
.animename {
  writing-mode: sideways-rl;
  transform: rotate(180deg);
  margin-left: 5px;
  color: white;
  font-size: 15px;
  font-weight: 600;
}
.anime-profile {
  height: 232px;
}
.animerank {
  margin-left: 5px;
  font-size: 20px;
  font-weight: 600;
  color: var(--pink);
}
.animepfp {
  height: 100%;
  object-fit: cover;
}
.tr-sliders {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
  padding-left: 10px;
}

.tr-sliders button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 111px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}
.tr-sliders button:hover {
  background-color: var(--pink);
}
.tr-sliders button:hover .sl {
  color: black;
}

/* share icon and reviews 
the space between each rows are controlled by the row 
gap set in MAIN CONTENT 30px*/

.shareicon {
  display: flex;
  justify-content: flex-start;
  padding-left: 15px;
  margin-bottom: 24px;
}
.shareicon-container {
  display: grid;
  grid-template-columns: 60px 1fr;
}
.shareicon-container img {
  width: 100%;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}
.share-info {
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.shareto-friends {
  color: white;
  font-weight: 500;
  font-size: 15.2px;
}
.highlight {
  color: var(--pink);
  font-weight: 600;
  font-size: 14px;
}
/*reviews*/
/*IMP*/
.review-outer {
  height: 368px;
  width: 100%;
  z-index: 100;
  position: relative;
  background-color: #2b2a3b;
}
.review-inner {
  display: grid;
  grid-template-columns: 320px 1fr;
  max-width: 1770px;
  height: 100%;
  margin: 0 auto;
  padding: 0 auto;
}
.discussion-logo {
  display: flex;
  align-items: flex-end;
}
.discussion-logo img {
  width: 100%;
}
.review-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 48px;
}
.left-button button {
  all: unset;
  color: white;
  background-color: transparent;
  padding: 8px 12.8px;
  margin-right: 5px;
  font-size: 14.4px;
  font-weight: 500;
  margin-right: 5px;
}
.left-button button:nth-child(1) {
  all: unset;
  color: var(--pink);
  background-color: transparent;
  padding: 8px 12.8px;
  margin-right: 5px;
  font-size: 14.4px;
  border: 1px solid var(--pink);
  border-radius: 25px;
  font-weight: 500;
  cursor: pointer;
}
.left-button button:nth-child(2):hover {
  all: unset;
  color: var(--pink);
  background-color: transparent;
  padding: 8px 12.8px;
  margin-right: 5px;
  font-size: 14.4px;
  border: 1px solid var(--pink);
  border-radius: 25px;
  font-weight: 500;
  cursor: pointer;
}
.right-button {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.right-button p {
  font-size: 14.4px;
  font-weight: 500;
  color: white;
}
.fa-toggle-on {
  font-size: 25px;
  margin-left: 10px;
}
.review-container {
  display: flex;
  flex-direction: column;
}
.review-boxes {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 20px;
}
.comment-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(200deg, #51505e, #2b2a3b);
  margin: 30px 0;
  padding: 20px;
  border-radius: 15px;
}

.top-side {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.user-name {
  display: flex;
  flex-direction: row;
}
.user-pfp {
  width: 50px;
}
.user-pfp img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.user-info p:nth-child(1) {
  font-size: 14px;
  color: white;
}
.user-info p:nth-child(2) {
  font-size: 11.2px;
  color: rgb(136, 136, 136);
}
.user-comment {
  font-size: 14px;
  color: white;
}
.bottom-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  color: var(--pink);
  font-size: 14px;
  gap: 5px;
}

/*TOP AIRING ANIMES*/
.top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.animelist {
  display: flex;
  flex-direction: column;
}
.first-col {
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;
  padding: 16px 0;
  border-bottom: 1px solid rgba(65, 65, 65, 0.514);
}
.top {
  margin-top: 10px;
  row-gap: 40px;
}
.top-animes {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}
.headline {
  font-size: 22px;
  font-weight: 600;
  color: var(--pink);
  margin-bottom: 16px;
}
.top-image {
  width: 60px;
  height: 76px;
  object-fit: cover;
  border-radius: 6px;
  cursor: pointer;
}
.animeinfo {
  margin: 0 16px;
}
.animeinfo p:nth-child(1) {
  font-size: 14.4px;
  margin-bottom: 10px;
  font-weight: 500;
  color: white;
  cursor: pointer;
}
.animeinfo p:nth-child(1):hover {
  color: var(--pink);
}
.aboutanime {
  display: flex;
  flex-direction: row;
  gap: 2px;
}
.aboutanime button {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
  padding: 0 6px;
}
.aboutanime button:nth-child(1) {
  border-radius: 6px 0 0 6px;
}
.aboutanime button:nth-child(2) {
  border-radius: 0 6px 6px 0;
}
.butext {
  font-size: 12px;
  font-weight: 600;
  font-family: arial;
}
.entity {
  font-size: 14.4px;
  color: #dddddd;
}
.view {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  align-items: center;
  padding: 16px 0;
  color: white;
  font-weight: 500;
}
.view:hover {
  color: var(--pink);
}

/*latest*/

.latest-genres {
  width: 100%;
  display: flex;
}
.latest-eps-container {
  align-items: center;
  width: 100%;
}
.row-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  padding: 0 16px;
  margin-top: 10px;
}
.row-header p:nth-child(1) {
  font-size: 22px;
  color: var(--pink);
  font-weight: 600;
}
.row-header p:nth-child(2) {
  font-size: 12.2px;
  color: rgb(170, 170, 170);
}
.column-animes {
  display: flex;
  flex-direction: column;
}
.column-a {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  cursor: pointer;
  row-gap: 80px;
  margin-bottom: 80px;
}
.image-containers {
  display: flex;

  flex-direction: column;
  margin: 8px 11.2px;
  row-gap: 8px;
  width: auto;
  height: auto;
}
/*I have set up a minimum width so the title doesnt overlap*/

.image-containers img {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  aspect-ratio: 10/10;
  object-fit: cover;
}
.col-title {
  color: white;
  font-size: 14.4px;
  font-weight: 600;
}
.col-time {
  font-size: 14.4px;
  color: rgb(170, 170, 170);
}
.genre-container {
  flex: 2;
  padding-left: 30px;
  width: 100%;
}
.genres {
  padding: 15px;
  background-color: #373646;
  margin-bottom: 30px;
}
.genre-names ul {
  column-count: 3;
  list-style: none;
}
.genre-names ul li {
  padding: 9px 10px;
  font-size: 14.4px;
}
.genre-names ul li:hover {
  background-color: #51505e;
  border-radius: 10px;
}
.genre-button {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.show-more {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4b4a59;
  padding: 12px 19px;
  display: flex;
  width: 100%;
  border: none;
  margin: 12px 0;
  color: white;
  font-size: 14.4px;
  font-weight: 600;
  border-radius: 6px;
}
.show-more:hover {
  background-color: #605f72a4;
}
.genre-header p {
  font-size: 22px;
  color: var(--pink);
  font-weight: 600;
  margin-bottom: 30px;
}
.container-rows {
  margin-bottom: 30px;
}

/*Estimated schedule*/

.schedule {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  width: 100%;
}
.schedule-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  padding: 0 10px 0 16px;
}
.schedule-header p:nth-child(1) {
  font-size: 22px;
  font-weight: 600;
  color: var(--pink);
}
.schedule-header .gmt {
  background-color: white;
  border-radius: 20px;
}
.schedule-header .gmt p {
  color: black;
  font-size: 15px;
  font-weight: 600;
  padding: 4px 10px;
  cursor: pointer;
}
.time-schedule-date {
  position: relative;
}
.day-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 30px;
  gap: 15px;
  overflow: hidden;
}
.day {
  display: flex;
  flex: 1 1 calc((100% / 8) - 20px);
  flex-direction: column;
  align-items: center;
  color: #fff;
  background-color: #2b2a3b;
  padding: 12px 5px;
  border-radius: 20px;
}
.day:hover {
  background-color: var(--pink);
  color: #000;
}
.day p:nth-child(1) {
  font-size: 17.6px;
  font-weight: 600;
  text-align: center;
}
.day p:nth-child(2) {
  font-size: 13px;
  font-weight: 300;
  text-align: center;
}
.pre,
.upc {
  all: unset;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.pre {
  position: absolute;
  left: 15px;
  top: 37.5%;
}
.upc {
  position: absolute;
  right: 15px;
  top: 37.5%;
}
.list-row-2 {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.list-items,
.title-time,
.ep-number {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.list-items {
  display: flex;
  justify-content: space-between;
  padding: 16px 0 16px 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.13);
}
.list-items:nth-child(8) {
  border-bottom: none;
}
.title-time {
  column-gap: 25px;
}
.ep-number {
  column-gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5.8px 10.6px;
}
.title-time h3:nth-child(1) {
  font-size: 16px;
  color: #aaaaaa;
}
.title-time h3:nth-child(2) {
  font-size: 16px;
  color: white;
}
.ep-number .fa-play {
  color: #aaaaaa;
  font-size: 10px;
}
.ep-number p {
  font-size: 12.8px;
  color: white;
  font-weight: 500;
}

.list-items:hover .ep-number .fa-play {
  color: black;
}
.list-items:hover .ep-number p {
  color: black;
}
.list-items:hover .ep-number {
  background-color: var(--pink);
  border-radius: 6px;
}
.list-items:hover .title-time h3:nth-child(1),
.list-items:hover .title-time h3:nth-child(2) {
  color: var(--pink);
}
.list-items:hover .title-time h3:nth-child(1):last-child {
  color: white;
}

/*top10*/

.top-ten-container {
  display: flex;
  flex-direction: column;
}
.top-ten-header {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.top-ten-header p {
  font-size: 22px;
  font-weight: 600;
  color: var(--pink);
}
.top-ten-list {
  display: flex;
  flex-direction: column;
}
.time-container {
  display: flex;
  flex-direction: row;
  background-color: #373646;
  border-radius: 6px;
}
.time-container button {
  display: flex;
  flex: 1;
  border: none;
  padding: 8px 13px;
  font-size: 13px;
  font-weight: 500;
  color: white;
  background-color: transparent;
  cursor: pointer;
}
.time-container button:hover {
  display: flex;
  flex: 1;
  border: none;
  font-size: 13px;
  color: var(--pink);
  background-color: transparent;
}
.time-container button:nth-child(1) {
  background-color: var(--pink);
  border-radius: 6px 0 0 6px;
  color: black;
}

/*list*/
.list-row {
  display: grid;
  flex-direction: row;
  grid-template-columns: 40px 60px 1fr;
  align-items: center;
  padding: 15px;
  background-color: #2b2a3b;
  border-bottom: 1px solid rgba(255, 255, 255, 0.219);
}
.top-ten-list .list-row:nth-child(10) {
  border-bottom: none; /*no border for the 10th anime*/
}
.top-pic img {
  width: 100%;
  border-radius: 6px;
}
.top-number {
  color: white;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.top-status {
  padding-left: 16px;
}
.top-title {
  font-size: 14.4px;
  color: white;
  font-weight: 500;
  cursor: pointer;
}
.top-title:hover {
  color: var(--pink);
}
.top-buttons {
  display: flex;
  flex-direction: row;
  gap: 2px;
  margin-top: 10px;
}
.top-buttons .mic {
  border-radius: 0 6px 6px 0;
}
.trending-posts {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.trending-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.trending-header p:nth-child(1) {
  font-size: 22px;
  font-weight: 600;
  color: var(--pink);
}
.trending-header p:nth-child(2) {
  font-size: 12.2px;
  color: #aaaaaa;
}
.trending-header p span {
  margin-left: 5px;
}
.trending-comments {
  display: flex;
  flex-direction: column;
}
.comments {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 8px;
  row-gap: 10px;
  background-color: #2b2a3b;
}
.time-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 11px;
}
.query-time {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}
.time-title .query-time p:nth-child(1) {
  color: rgb(255, 206, 113);
}
.time-title .query-time p:nth-child(2) {
  color: #aaa;
}
.time-title :nth-child(2) {
  color: white;
}
.comment-replies {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
}
.user-queries p:nth-child(1) {
  font-size: 15.6px;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
}
.user-queries p:nth-child(2) {
  font-size: 12px;
  color: #aaaaaa;
  margin-top: 5px;
}
.user-pfp-name {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
}
.user-pfp-name img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.user-pfp-name p {
  font-size: 12px;
  color: #ffffff;
}

/*MEDIA*/

@media (max-width: 599px) {
  .top {
    grid-template-columns: 1fr;
  }
  .review-boxes {
    grid-template-columns: none;
  }
  .comment-grid:nth-child(n + 0) {
    display: none;
    visibility: none;
  }
  .review-container {
    display: none;
  }
  .review-inner {
    display: flex;
  }
  .discussion-logo {
    width: 100%;
  }
  .discussion-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .column-a {
    grid-template-columns: repeat(2, auto);
  }
  .genres ul {
    column-count: 2;
  }
}
@media (min-width: 600px) and (max-width: 730px) {
  .top {
    grid-template-columns: 1fr;
  }
  .review-boxes {
    grid-template-columns: 1fr;
  }
  .comment-grid:nth-child(n + 2) {
    display: none;
    visibility: none;
  }
  .column-a {
    grid-template-columns: repeat(2, auto);
  }
}
@media (min-width: 731px) and (max-width: 879px) {
  .top {
    grid-template-columns: 1fr 1fr;
  }
  .review-boxes {
    grid-template-columns: 1fr 1fr;
  }
  .comment-grid:nth-child(n + 3) {
    display: none;
    visibility: none;
  }
  .column-a {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 880px) and (max-width: 1150px) {
  .top {
    grid-template-columns: 1fr 1fr;
  }
  .review-boxes {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .comment-grid:nth-child(n + 4) {
    display: none;
    visibility: none;
  }
  .column-a {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1151px) and (max-width: 1400px) {
  .top {
    grid-template-columns: 1fr 1fr;
  }
  .review-boxes {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .comment-grid:nth-child(n + 5) {
    display: none;
    visibility: none;
  }
}
@media (min-width: 0) and (max-width: 1440px) {
  .genre-container {
    padding: 16px;
  }
}
@media (max-width: 1400px) {
  .latest-genres {
    flex-wrap: wrap;
  }
}
